@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #000000;
  margin: 0;
  min-height: 100%;
  display: flex;
}

h2,
h3 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 34px;

  text-decoration: none;

  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
}

.button-brown {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 1);
}

.button-brown:hover,
.button-brown:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button-brown:active {
  background-color: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}

.button-green-active {
  background: rgba(125, 181, 79, 1);
  padding: 8px 18px;
  color: #FFFFFF;
}

.button-green-active:hover,
.button-green-active:focus {
  background-color: rgba(108, 158, 66, 1);
}

.button-green-active:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(125, 181, 79, 1);
}

.button-blue {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.button-blue:hover,
.button-blue:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.button-without-color-filter {
  color: rgba(255, 255, 255, 1);
  background: transparent;
}

.button-without-color-filter:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-without-color-filter:focus {
  border: 3px solid rgba(131, 179, 211, 1);
  box-sizing: border-box;
}

.button-without-color-filter:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-without-color-filter:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.button-brown:disabled,
.button-blue:disabled,
.button-green-active:disabled {
  background-color: rgba(229, 229, 229, 1);
}

/* HEADER */
.header {
  min-height: 64px;
  padding: 0 70px;
  display: flex;
}

/* LIST-NAVIGATION */

.logo-link {
  position: absolute;
}

.nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-left: 168px;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 622px;
  align-items: center;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgb(158, 210, 241);
}

.nav-link-current {
  position: relative;
}

.nav-link-current:after {
  position: absolute;
  display: block;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: '';
}

.nav-icon {
  padding: 22px 10px 22px 12px;
  display: block;
  line-height: 0;
  color: #000000;
  text-decoration: none;
}

.search::before {
  content: url('../images/icon-functional/search.svg');
  padding: 1px 0 0 1px;
}

.like::before {
  content: url('../images/icon-functional/heart.svg');
  padding: 2px 1px 1px 1px;
}

.like {
  position: relative;
  margin-right: 20px;
}

.like-count {
  position: absolute;
  top: 11px;
  left: 20px;
  color: #fff;
  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main-container {
  flex-grow: 1;
}

.sedona-welcome-box {
  line-height: 0;
}

/* ATTRACTIONS */
.attractions-text {
  padding: 69px 0;
  margin-bottom: 21px;
}

.attractions-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.attractions-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.attractions-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.attractions-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  width: 400px;
  list-style-type: none;
  flex: 1 1 33%;
}

.img-flex {
  flex: 2 1 66%;
}

.attractions-header {
  margin-bottom: 30px;
}

.delimiter-grey {
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.delimiter-white {
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.attractions-description {
  margin-top: 30px;
}

.white-text {
  color: #fff;
}

.dark-blue-background {
  background: #82B3D3;
}

.blue-background {
  background: rgba(131, 179, 211, 0.2);
}

.grey-background {
  background: rgba(131, 179, 211, 0.12)
}

.attractions-img-country {
  background-image: url("../images/photo-country.jpg");
  background-size: 800px 385px;
  background-repeat: no-repeat;
}

.attractions-img-mountains {
  background-image: url("../images/photo-mountains.jpg");
  background-size: 800px 385px;
  background-repeat: no-repeat;
}

/* ADVANTAGES */
.advantages-text {
  padding: 47px 0 64px 0;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}



.advantages-item {

  list-style-type: none;
  min-height: 385px;
  /* padding: 81px 0 81px 0; */
  justify-content: center;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.advantages-name {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;

}



.color-blue-advantages {
  background: rgba(131, 179, 211, 0.12);
}


.advantages-list {
  text-align: center;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.icon-hostel::before {
  content: url('../images/advantages/housing.svg');
  display: block;
  line-height: 0;
  margin-bottom: 25px;
}

.icon-food::before {
  content: url('../images/advantages/eating.svg');
  display: block;
  line-height: 0;
  margin-bottom: 25px;
}

.icon-souvenir::before {
  content: url('../images/advantages/souvenir.svg');
  display: block;
  line-height: 0;
  margin-bottom: 25px;
}

/* FIND-FORM */
.find-form {
  padding: 96px 304px;
  text-align: center;
}

.find-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.find-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.find-button {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/* SUBSCRIBE-FORM */
.subscribe-form {
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 54px;
}

.subscribe-text {
  color: #fff;
}

.subscribe-background {
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
}

.field-subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  border-radius: 4px 0 0 4px;
  border: 0;
  background-color: #F2F2F2;
  color: rgba(0, 0, 1, 0.6);
  width: 684px;
}

.newsletter-button {
  width: 232px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
}

.newsletter-form {
  display: flex;
}

/* CATALOG-FILTER */
.image-container {
  background-image: url("../images/background-catolog.jpg");
  background-repeat: no-repeat;
  min-height: 412px;
  background-color: rgb(121, 95, 62);
}

.catalog-container {
  padding: 35px 70px 70px 70px;
  color: #fff;
  margin: 0;
  box-sizing: border-box;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 8px 0 0 0;
  padding: 0;
}

.breadcrumbs-item {
  line-height: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: rgba(255, 255, 255, 1);
}


.breadcrumbs-link-home {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link-home:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link-home:active {
  color: rgba(255, 255, 255, 0.3);
}

.arrow::before {
  content: url('../images/icon-functional/breadcrumbs.svg');
}

.breadcrumbs-link {
  font-size: 16px;
}

.catalog-filter-group {
  padding: 0;
  border: none;
  margin-top: 40px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;

}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.control {
  line-height: 23px;
}

.box-filter-list {
  display: flex;
  gap: 70px;
}

.box-filter-group {
  display: flex;
  gap: 70px;
}


.group-buttton {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  gap: 32px;
}

.select-box {
  display: flex;
  gap: 70px;
}

.button-blue-filter {
  padding: 8px 50px;
}

.button-brown-catalog {
  padding: 8px 26px;
}

.button-blue-catalog {
  font-family: "PT Sans", sans-serif;
  background: rgba(130, 179, 211, 1);
  padding: 8px 20px;
}

.button-grey {
  font-weight: 400;
  width: 140px;
  box-sizing: border-box;
  color: rgba(51, 51, 51, 1);
  background: rgba(242, 242, 242, 1);
  display: inline-block;
  padding: 9px 22px 8px 23px;
}

/* CATALOG */
.catalog-hotels-box {
  padding: 50px 70px 60px 70px;
}

.filter-find-hotels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 38px;
}

.catalog-hotels-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  box-sizing: border-box;
  padding: 10px 20px 10px 16px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid rgba(104, 162, 202, 1)
}

.view-wrapper {
  display: flex;
}

.button-view {
  text-decoration: none;
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
}

.button-view:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.button-view:focus {
  border: 2px solid rgba(104, 162, 202, 1);
}

.button-view:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

.button-view:not(:last-child) {
  margin-right: 8px;
}

.button-view-active {
  border-color: #000000;
}

.show-cards::before {
  content: url('../images/icon-functional/button-tile.svg');
}

.show-card::before {
  content: url('../images/icon-functional/button-slideshow.svg');
}

.show-list::before {
  content: url('../images/icon-functional/button-list.svg');
}

.hotels-card {
  max-width: 340px;
  box-sizing: border-box;
  min-height: 438px;
  border: 1px solid rgba(230, 230, 230, 1);
  border-radius: 4px;
  padding: 20px;
}

.hotels-card-link {
  display: block;
  line-height: 0;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: none;
  margin: 16px 0;
}

.line-flex {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  box-sizing: border-box;
  align-items: start;
  margin-bottom: 40px;
}

.stars-hotel {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  align-items: center;
}

.hotels-card-stars::before {
  content: url('../images/icon-functional/star.svg');
}

/* PAGINATION */
.pagination {
  margin: 0;
  padding: 40px 0 0 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 8px;
  border-radius: 4px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  box-sizing: border-box;
}

.pagination-item:hover:not(.pagination-current):not(.pagination-opacity) {
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}

.pagination-item:focus:not(.pagination-current):not(.pagination-opacity) {
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}

.pagination-item:active:not(.pagination-current):not(.pagination-opacity) {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-opacity {
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
}

.pagination-link {
  text-decoration: none;
  color: inherit;
}

.grey-line {
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  margin: 5px 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  display: block;
  line-height: 0;
  color: rgba(131, 179, 211, 1);
}

.social-icon:hover {
  color: rgba(104, 162, 202, 1);
}

.social-icon:focus {
  color: rgba(104, 162, 202, 1);
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-item {
  list-style-type: none;
}

.vkontakte {
  padding: 0 10px;
}

.telegram {
  padding: 1px 7px;
}

.youtube {
  padding: 0 10px;
}

.link-html {
  color: rgba(0, 0, 0, 1);
}

.link-html:hover {
  color: rgba(117, 97, 87, 1);
}

.link-html:focus {
  color: rgba(117, 97, 87, 1);
}

.link-html:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-phone {
  font-family: "PT Sans";
  font-size: 40px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  line-height: 40px;
  font-style: normal;
}

.contacts-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}
