@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
  margin: 0;
  min-height: 100%;
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 34px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-block;
}

.button-brown {
  background-color: #756157;
  color: #ffffff;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button-brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-green-active {
  background: #7db54f;
  padding: 8px 18px;
  color: #ffffff;
  word-break: break-all;
}

.button-green-active:hover,
.button-green-active:focus {
  background-color: #6c9e42;
}

.button-green-active:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button-blue {
  color: #ffffff;
  background-color: #82b3d3;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.button-without-color-filter {
  color: #ffffff;
  background: transparent;
}

.button-without-color-filter:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-without-color-filter:focus {
  outline: 3px solid #83b3d3;
  box-sizing: border-box;
}

.button-without-color-filter:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-without-color-filter:disabled {
  color: rgba(255, 255, 255, 0.1);
}

.button-brown:disabled,
.button-blue:disabled,
.button-green-active:disabled {
  background-color: #e5e5e5
}

/* HEADER */
.header {
  min-height: 64px;
  padding: 0 70px;
  display: flex;
}

/* LIST-NAVIGATION */

.logo-link {
  position: absolute;
}

.nav {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-left: 168px;
  align-items: start;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  max-width: 622px;
  align-items: start;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  padding: 20px 16px;
  display: block;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  max-width: 130px;
  box-sizing: border-box;
  word-break: break-all;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #9ed2f1;
}

.nav-link-current {
  position: relative;
}

.nav-link-current:after {
  position: absolute;
  display: block;
  left: 16px;
  right: 16px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: '';
}

.nav-icon {
  padding: 22px 10px 22px 12px;
  display: block;
  line-height: 0;
  color: #000000;
  text-decoration: none;
}

.button-nav {
  width: 160px;
  box-sizing: border-box;
  margin-top: 14px;
  margin-left: 10px;
  word-break: break-all;
}

.search::before {
  content: url('../images/icon-functional/search.svg');
  padding: 1px 0 0 1px;
}

.like::before {
  content: url('../images/icon-functional/heart.svg');
  padding: 2px 1px 1px 1px;
}

.like {
  position: relative;
  margin-right: 10px;
}

.like-count {
  position: absolute;
  top: 11px;
  left: 20px;
  color: #fff;
  background-color: #7db54f;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.main-container {
  flex-grow: 1;
}

.sedona-welcome-box {
  line-height: 0;
}

/* ATTRACTIONS */
.attractions-text {
  padding: 69px 270px;
  margin-bottom: 21px;
}

.attractions-title {
  width: 630px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 25px;
  word-break: break-all;
}

.attractions-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  word-break: break-all;
  margin: 0;
}

.attractions-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
}

.attractions-item {
  padding: 102px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 385px;
  list-style-type: none;
  flex: 1 1 33%;
  box-sizing: border-box;
}

.img-flex {
  flex: 2 1 66%;
}

.attractions-item:not(.img-flex) {
  max-width: 400px;
}

.attractions-header {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 32px;
  width: 230px;
  word-break: break-all;
  text-transform: uppercase;
}

.attractions-description::before {
  left: 50%;
  transform: translateX(-50%);
  top: -32px;
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  word-break: break-all;
}

.attractions-item:first-child .attractions-description::before,
.attractions-item:last-child .attractions-description::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.attractions-item:first-child .attractions-header {
  padding-right: 4px;
}

.attractions-description {
  position: relative;
  margin: 30px 0 0 0;
  width: 240px;
}

.white-text {
  color: #ffffff;
}

.dark-blue-background {
  background: #82b3d3;
}

.blue-background {
  background: rgba(131, 179, 211, 0.2);
}

.grey-background {
  background: rgba(131, 179, 211, 0.12)
}

.attractions-img-country {
  background-image: url("../images/photo-country.jpg");
  background-size: 800px 385px;
  background-repeat: no-repeat;
  background-color: #e9f7ff;
}

.attractions-img-mountains {
  background-image: url("../images/photo-mountains.jpg");
  background-size: 800px 385px;
  background-repeat: no-repeat;
  background-color: #756157;
}

/* ADVANTAGES */
.advantages-text {
  padding: 47px 270px 64px 270px;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  word-break: break-all;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  word-break: break-all;
  margin: 0;
}

.advantages-item {
  padding: 60px 75px;
  list-style-type: none;
  min-height: 385px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  box-sizing: border-box;
  max-width: 400px;
}

.advantages-name {
  width: 230px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  word-break: break-all;
}

.souvenir-margin {
  margin-top: 26px;
}

.advantages-description {
  width: 230px;
  margin: 0;
  margin-top: 30px;
  word-break: break-all;
}

.color-blue-advantages {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-list {
  text-align: center;
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  align-items: start;
}

.icon-hostel::before {
  content: url('../images/advantages/housing.svg');
  display: block;
  line-height: 0;
}

.icon-food::before {
  content: url('../images/advantages/eating.svg');
  display: block;
  line-height: 0;
}

.icon-souvenir::before {
  content: url('../images/advantages/souvenir.svg');
  display: block;
  line-height: 0;
  position: relative;
  top: -2px;
}

/* FIND-FORM */
.find-form {
  padding: 96px 304px;
  text-align: center;
}

.find-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  word-break: break-all;
}

.find-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  word-break: break-all;
}

.find-button {
  width: 376px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

/* SUBSCRIBE-FORM */
.subscribe-form {
  padding: 96px 258px 104px 258px;
  text-align: center;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 20px;
  word-break: break-all;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
  word-break: break-all;
}

.subscribe-text {
  color: #ffffff;
}

.subscribe-background {
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-size: cover;
}

.subscribe-background-white {
  background-color: #ffffff;
}

.field-subscribe {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 4px 0 0 4px;
  border: 0;
  background-color: #f2f2f2;
  color: rgba(0, 0, 1, 0.6);
  width: 684px;
}

.newsletter-button {
  width: 310px;
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;
  box-sizing: border-box;
  word-break: break-all;
}

.newsletter-form {
  display: flex;
  align-items: start;
  min-height: 52px;
}

/* CATALOG-FILTER */
.image-container {
  background-image: url("../images/background-catolog.jpg");
  background-repeat: no-repeat;
  background-color: #795f3e;
  min-height: 412px;
  background-size: cover;
}

.catalog-container {
  padding: 35px 70px 62px 70px;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
}

.breadcrumbs {
  list-style-type: none;
  display: flex;
  margin: 8px 0 40px 0;
  padding: 0;
}

.breadcrumbs-item {
  line-height: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.breadcrumbs-link-home {
  position: relative;
  display: block;
  color: #ffffff;
  padding: 3px 28px 3px 0;
}

.breadcrumbs-link-home:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-home:focus {
  color: #ffffff;
}

.breadcrumbs-link-home:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home::before {
  position: absolute;
  content: url('../images/icon-functional/breadcrumbs.svg');
  left: 16px;
  top: 1px;
}

.breadcrumbs-link {
  font-size: 16px;
}

.catalog-filter-group {
  padding: 0;
  border: none;
  margin: 0;
}

.catalog-filter-group-width {
  max-width: 151px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  padding: 0;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.box-filter-list {
  display: flex;
  gap: 70px;
}

.box-filter-group {
  display: flex;
  gap: 70px;
}

.control {
  line-height: 23px;
  position: relative;
  display: block;
  padding-left: 36px;
  word-break: break-all;
}

.control-input[type="checkbox"] {
  display: none;
}

.control-input[type="radio"] {
  display: none;
}

.control:hover {
  opacity: 0.6;
}

.control:focus .control-mark {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control-round {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control:focus .control-round {
  outline: 3px solid #83b3d3;
}


.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url('../images/icon-functional/checkbox.svg');
}

.control-input[type="radio"]:checked + .control-round {
  background-image: url('../images/icon-functional/radio.svg');
}

.range-scale {
  position: relative;
  height: 5px;
  margin-bottom: 16px;
  background-color: rgba(256, 256, 256, 0.2);
}

.range-bar {
  position: absolute;
  height: 5px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active {
  outline: 3px solid #83b3d3;
}

.range-toggle:focus {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -7px;
  left: -10px;
}

.toggle-max {
  top: -7px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.group-buttton {
  display: flex;
  flex-direction: column;
  padding-top: 57px;
  gap: 32px;
}

.select-box {
  display: flex;
  gap: 70px;
}

.button-blue-filter {
  width: 191px;
  padding: 8px 50px;
}

.button-brown-catalog {
  width: 140px;
  padding: 8px 26px;
  box-sizing: border-box;
  word-break: break-all;
}

.button-blue-catalog {
  font-family: "PT Sans", sans-serif;
  background: #82b3d3;
  padding: 8px 20px;
  box-sizing: border-box;
  width: 140px;
  word-break: break-all;
}

.button-grey {
  font-weight: 400;
  width: 140px;
  box-sizing: border-box;
  color: #333333;
  background: #f2f2f2;
  display: inline-block;
  padding: 9px 22px 8px 23px;
  margin: 0;
}

.price-user {
  display: flex;
  gap: 2px;
  margin-bottom: 41px;
}

.price-user input {
  flex: 1 0 143px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  position: relative;
  padding-right: 40px;
}

.price-user label {
  position: relative;
  width: 143px;
}

input[name="min-price"] {
  border-radius: 4px 0 0 4px;
}

input[name="max-price"] {
  border-radius: 0 4px 4px 0;
}

.max-price:before,
.min-price:before {
  position: absolute;
  color: #000000;
  top: 12px;
  right: 20px;
  z-index: 1;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.3;
}

.min-price:before {
  content: 'от';
}

.max-price:before {
  content: 'до';
}

/* CATALOG */
.catalog-hotels-box {
  padding: 50px 70px 60px 70px;
}

.filter-find-hotels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.catalog-hotels-found {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 292px;
  height: 49px;
  box-sizing: border-box;
  padding: 10px 20px 10px 19px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  background: url('../images/icon-functional/arrow.svg') no-repeat;
  background-position: right 15px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca
}

.view-wrapper {
  display: flex;
}

.button-view {
  text-decoration: none;
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  box-sizing: border-box;
  border: 2px solid #E5E5E5;
}

.button-view:hover {
  border: 2px solid #000000;
}

.button-view:focus {
  border: 2px solid #68a2ca;
}

.button-view:active {
  border: 2px solid #68a2ca;
}

.button-view:not(:last-child) {
  margin-right: 8px;
}

.button-view-active {
  border-color: #000000;
}

.show-cards::before {
  content: url('../images/icon-functional/button-tile.svg');
}

.show-card::before {
  content: url('../images/icon-functional/button-slideshow.svg');
}

.show-list::before {
  content: url('../images/icon-functional/button-list.svg');
}

.hotels-card {
  max-width: 342px;
  box-sizing: border-box;
  min-height: 438px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
}

.hotels-card-link {
  display: block;
  line-height: 0;
  text-decoration: none;
  color: #000000;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: none;
  margin: 16px 0;
  word-break: break-all;
}

.line-flex {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  flex-wrap: wrap;
  align-items: start;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 342px);
  gap: 18px;
  box-sizing: border-box;
  align-items: start;
  margin-bottom: 40px;
}

.stars-hotel {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 9px;
}

.hotels-card-stars::before {
  content: url('../images/icon-functional/star.svg');
}

.hotels-card-description,
.hotels-card-price {
  max-width: 140px;
  word-break: break-all;
  margin: 0;
}

/* PAGINATION */
.pagination {
  margin: 0;
  padding: 37px 0 0 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-right: 8px;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  box-sizing: border-box;
}

.pagination-item:hover:not(.pagination-current):not(.pagination-opacity) {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-item:focus:not(.pagination-current):not(.pagination-opacity) {
  background-color: #68a2ca;
  border: 1px solid #82b3d3;
}

.pagination-item:active:not(.pagination-current):not(.pagination-opacity) {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-opacity {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: transparent;
}

.pagination-link {
  text-decoration: none;
  color: inherit;
}

.grey-line {
  height: 1px;
  background-color: #e6e6e6;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 70px 30px 70px;
}

.footer-social-list {
  display: flex;
  margin: 5px 0;
  padding: 0;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 142px;
}

.social-icon {
  display: block;
  line-height: 0;
  color: #83b3d3;
}

.social-icon:hover {
  color: #68a2ca;
}

.social-icon:focus {
  color: #68a2ca;
}

.social-icon:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-social-item {
  list-style-type: none;
}

.vkontakte {
  padding: 0 10px;
}

.telegram {
  padding: 1px 7px;
}

.youtube {
  padding: 0 10px;
}

.link-html {
  color: #000000;
  margin-top: 6px;
  display: block;
}

.link-html:hover {
  color: #756157;
}

.link-html:focus {
  color: #756157;
}

.link-html:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  color: #000000;
  text-decoration: none;
  line-height: 40px;
  font-style: normal;
  display: block;
  width: 335px;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/* POP-UP */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-window {
  width: 577px;
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 #00000026;
  border-radius: 30px;
  overflow-wrap: break-word;
  ;
}

.modal-close-button {
  font-family: "PT Sans", sans-serif;
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  background-image: url('../images/icon-functional/cross.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  outline: 3px solid #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-row {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}

.title-form {
  max-width: 125px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  word-break: break-all;
}

.title-start {
  margin-right: 24px;
}

.title-stop {
  margin-right: 18px;
}

.end-date-block,
.start-date-block {
  position: relative;
  flex: 2 0 auto;
}

.modal-input-date {
  font-family: "PT Sans", sans-serif;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
}

.message-box {
  max-width: 440px;
  position: absolute;
  top: 52px;
  left: 0;
  font-size: 16px;
  line-height: 21px;
  padding: 0 20px;
  word-break: break-all;
}

.button-form-find {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  width: 577px;
  padding: 18px 77px 18px 77px;
  border-radius: 10px;
}

.error {
  color: #ff5757;
}

.calendar-icon {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 15px;
  background-image: url('../images/icon-functional/date.svg');
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none
}

.button-counter {
  border: none;
  background-color: #f2f2f2;
  background-position: center;
  width: 40px;
  height: 48px;
  cursor: pointer;
}

.button-counter:before {
  content: '';
  opacity: 0.3;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.button-plus {
  border-radius: 0 4px 4px 0;
}

.button-plus:before {
  background-image: url('../images/icon-functional/plus.svg');
}

.button-minus {
  border-radius: 4px 0 0 4px;
}

.button-minus:before {
  background-image: url('../images/icon-functional/minus.svg');
}

.button-plus:hover:before,
.button-minus:hover:before,
.button-plus:focus:before,
.button-minus:focus:before {
  opacity: 1;
}

.button-plus:focus,
.button-minus:focus {
  border: 3px solid #82b3d3;
  box-sizing: border-box;
  border-radius: 4px;
}

.children-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tooltip-toggle {
  position: relative;
  background-image: url('../images/icon-functional/info.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83b3d3;
  border: none;
}

.tooltip-text-children {
  font-family: "PT Sans", sans-serif;
  position: absolute;
  background-color: #333333;
  padding: 20px 18px 18px 22px;
  box-sizing: border-box;
  width: 256px;
  min-height: 143px;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  left: -115px;
  top: 41px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: left;
  display: none;
}

.tooltip-text-children::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -17px;
  border: 9px solid transparent;
  border-block-end-color: #333333;
  content: "";
}

.tooltip-toggle:hover .tooltip-text-children,
.tooltip-toggle:focus .tooltip-text-children {
  display: block;
}

.modal-col {
  display: flex;
  align-items: center;
  gap: 46px;
}

.number-people {
  display: flex;
}

.modal-input-age {
  font-family: "PT Sans", sans-serif;
  box-sizing: border-box;
  width: 31px;
  height: 48px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  padding: 0;
  text-align: center;
  background: none;
  border: 0;
  appearance: none;
  background-color: #f2f2f2;
}

.modal-input-age[type="number"]::-webkit-outer-spin-button,
.modal-input-age[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-input-age[type="number"] {
  -moz-appearance: textfield;
}
